<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="X-UA-Compatible" content="ie=edge">
  <title></title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

    html {
      min-height: 120px;
      height: 0px;
    }

    body {
      font-family: 'Roboto Mono', sans-serif;
      width: {{ width }}px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
    }

    .dataframe {
      width: 100%;
      border-collapse: collapse;
    }

    th:nth-child(2) {
      text-align: left !important;
      padding-left: 0.5rem;
    }

    th {
      text-align: center !important;
    }

    th, td {
      border: 1px solid black;
      padding: 0.25rem;
    }

    td:nth-child(1) {
      text-align: center;
    }

    td:nth-child(2) {
      text-align: left;
      padding-left: 0.5rem;
    }

    td:nth-child(3) {
      text-align: right;
      padding-right: 1rem;
    }

    td:nth-child(4) {
      text-align: right;
      padding-right: 1rem;
    }

    td:nth-child(5) {
      text-align: center;
    }

    td:nth-child(6) {
      text-align: center;
    }

    h1 {
      font-size: 1.0rem;
      margin: 0px;
    }
  </style>
</head>
<body>
  <h1>{{ title }}</h1>
  {{ df_html }}
</html>
